* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: calc(100% - 2px);
}

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: sans-serif;
}

.drawing-space {
  width: 100%;
  height: 100%;
}
