* {
  box-sizing: border-box;
}

html, body {
  height: calc(100% - 2px);
}

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: Verdana, sans-serif;
}

.drawing-space {
  display: inline-block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

/* Use the following for chunky pixels. */
/*
canvas {
  width: 100%;
  height: 100%;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
*/

.hud {
  display: inline-block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hud table {
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 80%);
}

.hud td {
  min-width: 4em;
  border-bottom: 1px solid #555555;
}

.hud td.blank {
  border-bottom: none;
}

.hud th {
  text-align: left;
  border-bottom: 2px solid #999999;
}

.hud .colorHeaderRow th:nth-child(2) {
  color: #ff0000;
}

.hud .colorHeaderRow th:nth-child(3) {
  color: #00ff00;
}

.hud .colorHeaderRow th:nth-child(4) {
  color: #0000ff;
}

